        <footer class="block">
            <h3>© 2026 frankom</h3>
            <div>
            <img src="/static/buttons/debian.gif" alt="powered by debian">
            <img src="/static/buttons/archlinux.gif" alt="archlinux">
            <img src="/static/buttons/besteyes2.gif" alt="best viewed with eyes">
            <img src="/static/buttons/jesus_now.gif" alt="Jesus now">
            <img src="/static/buttons/vim.gif" alt="edited with vim">
            </div>
        </footer>
    
    </div>
    
    <a href="/admin">
        <button id="admin">admin</button>
    </a>
</body>
</html>