<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>frankom.top</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body bgcolor="gray">
    
    <div id="container">

        <img src="/static/logo.png" alt="logo">

        <nav class="block">
            <a href="/"><button>main</button></a>
            <a href="/hardware"><button>hardware</button></a>
            <a href="/blog"><button>shit in my mind</button></a>
            <a href="/projects"><button>projectz</button></a>
            <a href="/links"><button>linkz</button></a>
            <a href="/guestbook"><button>guestbook</button></a>
        </nav>
