body {
  min-height: 100vh;
  background-image: url(forest2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin: auto;
}

.block {
  background-color: black;
  border-color: white;
  border-style: dashed;
  color: gray;
  font-family: monospace;
}

main {
  display: flex;
  gap: 10px;
}

nav {
  padding: 10px;
  text-align: center;
}
nav button {
  font-size: large;
  color: white;
  font-family: monospace;
  background: none;
  border-color: gray;
}
nav button:hover {
  cursor: pointer;
  font-weight: bold;
}

footer {
  text-align: center;
}
footer div {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-bottom: 10px;
}

#admin {
  position: fixed;
  bottom: 0;
  background: none;
  color: gray;
  font-size: xx-small;
}
