{% include "pre/header.html" %}

<style>
    main #left {
      padding: 10px;
      flex: 30%;
      text-align: center;
    }
    main #right {
      flex: 70%;
      padding: 10px;
      font-size: large;
      overflow-wrap: anywhere;
    }
    main textarea, main input, main button {
      font-size: large;
      background: none;
      color: white;
      border-color: gray;
      width: 70%;
    }
</style>

<main>
    <div id="left" class="block">
        <p>be cool pls</p>
        <form action="/guestbook" method="post">
            <input type="text" id="username" name="username" placeholder="username" style="font-size: medium">
            <br> <br>
            <textarea maxlength="200" name="message" id="message" placeholder="message"></textarea>
            <br> <br>
            <button type="submit" style="width: 30%;">post</button>
        </form>
    </div>

    <div id="right" class="block">
        {% for i in data %}
        <b>{{i[0]}}</b>
        <p>{{i[1]}}</p>
        <hr>
        {% endfor %}
    </div>
</main>

{% include "pre/footer.html" %}