<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>frankom.top</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div style="display: flex; flex-direction: column; width: 75%; margin: auto; gap: 10px;">
        <!--<nav class="box" style="width: 70%; margin: auto;">-->
        <nav id="nav" class="box" style="display: flex; justify-content: center;">
            <a href="/"> <button>main</button> </a>
            <a href="/hardware"> <button>hardware</button> </a>
            <a href="/blog"> <button>blog</button> </a>
            <a href="/socials"> <button>socials</button> </a>
        </nav>

        <div style="display: flex; gap: 10px;">

            <div class="box" style="flex: 20%;">
                <img src="/static/pfp.png" width="50">
            </div>

            <div id="msg" class="box" style="font-size: larger; flex: 60%;">
                <h1>My hardware</h1>
                <b>main laptop:</b>
                <ul style="font-family: monospace; color: wheat;">
                    <li>Lenovo IdeaPad L340-17IRH</li>
                    <li>Intel Core i7-9750hf</li>
                    <li>NVIDIA GTX 1650</li>
                    <li>32GB Ram DDR4</li>
                    <li>Kingston 512GB NVMe</li>
                    <li>Arch Linux</li>
                    <li><b style="padding: 0;">Periphery:</b>
                        <ul>
                            <li>Samsung SyncMaster S22B350</li>
                            <li>Krux Atax RGB Outemu Brown</li>
                            <li>Razer Basilisk Essential</li>
                            <li>Sony WH-CH520</li>
                            <li>Trust GXT 232</li>
                        </ul>
                    </li>
                </ul>

                <b>second laptop:</b>
                <ul style="font-family: monospace; color: wheat;">
                    <li>HP 255 G8</li>
                    <li>Ryzen 3 5300u</li>
                    <li>8GB Ram DDR4</li>
                    <li>256GB NVMe</li>
                    <li>Arch Linux</li>
                </ul>

                <b>server:</b>
                <ul style="font-family: monospace; color: wheat;">
                    <li>Dell Optiplex 5040 SFF</li>
                    <li>Intel Core i5-6500</li>
                    <li>8GB Ram DDR3</li>
                    <li>64GB SSD</li>
                    <li>320GB HDD</li>
                    <li>Arch Linux</li>
                </ul>

                <b>phone:</b>
                <ul style="font-family: monospace; color: wheat;">
                    <li>Realme 9i 4g</li>
                    <li>4GB Ram</li>
                    <li>128GB Storage</li>
                </ul>

                <b>music:</b>
                <ul style="font-family: monospace; color: wheat;">
                    <li>Philips GoGear SA3125</li>
                    <li>KZ EDX</li>
                </ul>
            </div>

            <div class="box" style="flex: 20%;">
                <img src="/static/pfp.png" width="50">
            </div>
        
        </div> 
    </div> 
</body>
</html>