<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>frankom.top</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<!-- https://coolors.co/palette/0f0606-200b0b-2f0000-490000-650000 -->

<!--<body style="background-color: #0F0606;">-->
<body> 
    <div style="display: flex; flex-direction: column; width: 75%; margin: auto; gap: 10px;">
        <!--<nav class="box" style="width: 70%; margin: auto;">-->
        <nav id="nav" class="box" style="display: flex; justify-content: center;">
            <a href="/"> <button>main</button> </a>
            <a href="/hardware"> <button>hardware</button> </a>
            <a href="/blog"> <button>blog</button> </a>
            <a href="/socials"> <button>socials</button> </a>
        </nav>

        <!--<div style="display: flex; margin: auto; width: 70%;">-->
        <div style="display: flex; gap: 10px;">

            <div class="box" style="flex: 25%;">
                <h1 style="color: wheat; text-align: center; font-family: story_script;">Frankom</h1>
                <img src="/static/pfp.png" alt="pfp" width="70%" id="pfp">
                <p style="color: wheat; padding: 5px; font-size: large; font-family: monospace;">
                    name: <span style="color: white;">Franek</span>
                    <br>age: <span id="age" style="color: white;"></span>
                    <br>location: <span style="color: white;">Poland</span>
                </p>
            </div>
 
            <div id="msg" class="box" style="flex: 75%; font-size: larger;">
                <p>Welcome to my world! I'm frankom so just a regular basement creature, arch linux user and "slow" motorcyclist.
                    <br>I like nerdy computer stuff like servers, networks, programming but the most of that <b>linux operating system</b>.
                    <br>As it is right now I go to IT High School in Poland trying to do some cool project(s) before I'll end it.
                </p>
                <p>In my freetime I either do some cool shit with my friends like motorcycles cruising (with my slow but reliable 50cc) or use my pc.
                    <br>May be boring for some people but I don't think it's like that.
                </p>
                <p>When I think about my future I still don't know what will I do...
                    <br>I want to stay in IT industry but job market is so bad at the moment.
                    <br>I'm not sure if I would go college but if I will go then it definitely would be computer science/engineering or cyber security. 
                </p>
            </div>

        </div>
    </div>
    
    <script>
        let item = document.getElementById("age");
        let birthdate = new Date("12/05/2009");
        function display_age() {
            let test = (new Date() - birthdate) / (1000*3600*24*365.25);
            item.innerText = test;
            requestAnimationFrame(display_age);
        }
        display_age();
    </script>

</body>
</html>