{% include "pre/header.html" %}

<style>
    main div {
      flex: 100%;
      font-size: large;
    }
    main div img {
      display: block;
      margin: auto;
      padding-bottom: 10px;
    }
    li span, li a {
      color: white;
    }
</style>

<main>
    <div class="block">
        <ul>
            <li><b>E-Mail:</b> <a href="mailto:frankom@frankom.top">frankom@frankom.top</a></li>
            <li><b>Discord:</b> <span>frankom1337</span></li>
            <li><b>Github:</b> <a href="https://github.com/FrankomDev" target="_blank">FrankomDev</a></li>
            <li><b>IRC:</b> <span>irc.frankom.top:6697</span> (no one is using it so let's change it!)</li>
        </ul>
        <img src="static/buttons/b00bz.gif" alt="i luv boobiez">
    </div>
</main>

{% include "pre/footer.html" %}
