{% include "pre/header.html" %}

<style>
    main #left {
      flex: 40%;
      text-align: center;
      padding: 10px;
    }
    main #right {
      flex: 60%;
      padding: 10px;
      font-size: large;
    }
    ul a {
      color: white;
      text-decoration: none;
    }
    ul a li:hover {
      text-decoration: underline;
    }
</style>

<main>

    <div id="left" class="block">
        <p>i had a lot of things started... <br>
        not many finished :(</p>
        <p>but if you are interested 
        <br>click project to view details</p>
        <img src="static/skeleton.gif" alt="skeleton" width="70%">
    </div>

    <div id="right" class="block">
        <p>somewhere on my hard drive may be some other things but who knows... <br>
        rn enjoy this:</p>
        <ul>
            {% for i in data %}
            <a href="/projects/{{i[1]}}">
                <li>{{i[0]}}</li>
            </a>
            {% endfor %}
        </ul>
        <p>now i try to finish things i started but it goes... ehh</p>
    </div>

</main>

{% include "pre/footer.html" %}