<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>frankom.top</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body> 
    <div style="display: flex; flex-direction: column; width: 75%; margin: auto; gap: 10px;">
        <nav id="nav" class="box" style="display: flex; justify-content: center;">
            <a href="/"> <button>main</button> </a>
            <a href="/hardware"> <button>hardware</button> </a>
            <a href="/blog"> <button>blog</button> </a>
            <a href="/socials"> <button>socials</button> </a>
        </nav>

        <div id="msg" class="box" style="font-size: larger;">
            <h1>Socials</h1>
            <ul style="color: wheat; font-family: monospace;">
                <li><b>E-Mail:</b> <a href="mailto:frankom@frankom.top" style="color: white;">frankom@frankom.top</a></li>
                <li><b>Discord:</b> <span style="color: white;">frankom1337</span></li>
                <li><b>Github:</b> <a href="https://github.com/FrankomDev" target="_blank" style="color: white;">FrankomDev</a></li>
                <li><b>IRC:</b> <span style="color: white;">irc.frankom.top:6697</span> (no one is using it so let's change it!)</li>
            </ul>
        </div>
    </div>
</body>
</html>